.elements {
    margin: 70px 70px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 319px;
    grid-auto-rows: 319px;
    gap: 32px;
    align-self: center;
    transition: all 1s ease;
  }

  @media screen and (max-width: 1168px) {
    .elements {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 659px) {
    .elements {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 10px;
      grid-auto-rows: 271px;
      gap: 16px;
    }
  }
  