.search {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  max-width: 1280px;
  max-height: 247px;
  margin: 0 70px;
  padding: 0 0 70px;
  /* border: 1px solid red; */
  transition: all 1s ease;
}

.search__wrapper {
  margin: 60px 0 42px;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  height: 46px;
  display: flex;
  background-color: #f9f9f9;
  border-radius: 40px;
  transition: all 1s ease;
}

.search__text {
  width: 900px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: #f9f9f9;
  color: #000;
  white-space: nowrap;
  padding: 0 0 0 23px;
  outline-color: #69a1dd34;
  border-radius: 40px;
}

.search__link {
  margin: 0 6px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  border: none;
  border-radius: 48px;
  width: 60px;
  height: 35px;
  min-height: 35px;
  background-color: #ff6838;
  cursor: pointer;
  transition: all 1s ease;
}

.search__link:hover {
  background-color: #69a1dd;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}

.invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.visible-checkbox {
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 20px;
  overflow: hidden;
  transition: all 1s ease;
}

.visible-checkbox__radio {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #f5f5f5;
  transition: all 1s ease;
  margin: 0 2px;
  cursor: pointer;
  transition: all 1s ease;
}

.checkbox-wrapper__text {
  font-size: 14px;
  line-height: 106%;
  margin: 0 0 0 12px;
}

.invisible-checkbox:checked + .visible-checkbox {
  justify-content: end;
}

.invisible-checkbox:checked + .visible-checkbox .visible-checkbox__radio {
  background-color: #2be080;
}

.checkbox-container__error {
  margin: 10px auto 0;
  display: block;
  color: #ff6838;
}

.checkbox-container__error-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .search {
    margin: 0 30px;
  }

  .search__link {
    width: 58px;
  }

  .search__text {
    width: 500px;
  }
}

@media screen and (max-width: 400px) {
  .search {
    margin: 0 14px;
  }

  .search__text {
    width: 180px;
  }
}
