.about-me {
    position: relative;
    height: 608px;
    overflow: hidden;
}

.about-me__title {
    margin: 110px 70px 0 70px;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 100%;
    color: #000;
    border-bottom: 1px solid #000;
    transition: all 1s ease;
}

.about-me__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 66px 70px 0;
    transition: all 1s ease;
}

.about-me__description {
    max-width: 600px;
}

.about-me__name {
    margin: 0 0 18px;
    font-size: 50px;
    line-height: 96%;
    color: #000;
}

.about-me__specialty {
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 92%;
    color: #000;
    transition: all 1s ease;
}

.about-me__text {
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 130%;
    color: #000;
    max-height: 150px;
    overflow: hidden;
}

.about-me__link {
    font-size: 14px;
    line-height: 100%;
    color: #000;
    font-family: "Inter";
    font-style: bold;
    text-decoration: none;
    position: absolute;
    bottom: 68px;
    left: 70px;
    transition: all 1s ease;
}

.about-me__link:hover {
    opacity: 0.6;
    bottom: 55px;
    left: 67px;
}

.about-me__avatar {
    border-radius: 10px;
    max-width: 270px;
    max-height: 327px;
    transition: all 1s ease;
}

@media screen and (max-width: 865px) {
    .about-me__text {
        font-size: 11px;
        line-height: 120%;
    }
  }

@media screen and (max-width: 768px) {
    .about-me__title {
        margin: 90px 70px 0 50px;
    }

    .about-me__link {
        bottom: 98px;
        left: 50px;
    }

    .about-me__link:hover {
        opacity: 0.6;
        bottom: 95px;
        left: 47px;
    }

    .about-me__avatar {
        max-width: 255px;
        max-height: 307px;
    }

    .about-me__wrapper {
        margin: 66px 50px 0;
    }

    .about-me__text {
        font-size: 11px;
        line-height: 120%;
    }
  }

  @media screen and (max-width: 635px) {
    .about-me__title {
        margin: 70px 14px 0;
    }

    .about-me__wrapper{
        margin: 60px 14px 0;
        flex-direction: column-reverse;
    }

    .about-me__avatar {
        max-width: 292px;
        max-height: 352px;
        margin: auto;
    }

    .about-me__name {
        font-size: 30px;
        margin: 40px 0 20px;
    }

    .about-me__specialty {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .about-me {
        height: fit-content;
    }

    .about-me__link {
        position: static;
    }

    .about-me__links {
        margin: 40px 0 0;
    }
  }

