.techs {
    position: relative;
    height: 608px;
    overflow: hidden;
    background-color: #F5F5F5;
    transition: all 1s ease;
}

.techs__title {
    margin: 110px 70px 0 70px;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 100%;
    color: #000;
    border-bottom: 1px solid #000;
    transition: all 1s ease;
}

.techs__subtitle {
    margin: 90px auto 26px;
    text-align: center;
    font-size: 50px;
    line-height: 96%;
    color: #000;
    transition: all 1s ease;
}

.techs__text {
    margin: 0 auto 100px;
    text-align: center;
    font-size: 14px;
    line-height: 118%;
    color: #000;
    max-width: 500px;
    transition: all 1s ease;
}

.techs__logo-zone {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 80px auto 0;
}

.tech__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 100%;
    color: #000;
    background-color: #E8E8E8;
    border-radius: 10px;
    width: 90px;
    height: 60px;
    transition: all 1s ease;
}

.tech__link:hover {
    background-color: #bcd5e8;
    opacity: 0.6;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .techs__title {
        margin: 90px 50px 0;
    }

    .techs__subtitle {
        margin: 80px auto 22px;
    }

    .techs {
        max-height: 567px;
    }
  }

  @media screen and (max-width: 740px) {
    .techs__logo-zone {
        display: grid;
        gap: 10px;
        max-width: 198px;
        grid-template-columns: repeat(2, 1fr);
    }

    .techs {
        min-height: 710px;
    }
  }

  @media screen and (max-width: 529px) {
    .techs__title {
        margin: 70px 18px 0;
    }

    .techs__subtitle {
        margin: 60px 18px 24px;
    }

    .techs__text {
        margin: 0 18px 50px;
    }

    .techs {
        max-height: 567px;
    }
  }

  @media screen and (max-width: 444px) {
    .techs__subtitle {
        font-size: 30px;
    }
  }