.content {
    position: relative; 
    max-width: 1280px;
    margin: auto; 
    border: 1px solid red;
    background-color: #FFFFFF;
    transition: all 1s ease; 
  }  

  @media screen and (max-width: 900px) {  
    .content { 
      margin: 40px 19px; 
    } 
  } 