.profile {
    max-width: 1280px;
    height: calc(100vh - 74px);
    display: flex;
    margin: auto;
    background-color: #FFF;
}

.profile__wrapper {
    width: 410px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    transition: all 1s ease;
}

.profile__welcome {
    font-family: "Inter";
    font-size: 24px;
    line-height: 100%;
    font-style: medium;
    margin: 74px auto 123px;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__input-wrapper {
    display: flex;
    justify-content: space-between;
}

.profile__label {
    font-family: "Inter";
    font-style: medium;
    font-size: 11px;
    line-height: 100%;
    margin: 0 0 16px;
}

.profile__line {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 17px;
}

.profile__input {
    text-align: end;
    border: none;
    background-color: #fff;
    outline: none;
    font-family: "Inter-Regular";
    font-size: 11px;
    line-height: 100%;
    height: 14px;
}

.profile__button {
   max-width: min-content;
   border: none;
   background-color: #fff;
   font-family: "Inter-Regular";
   font-size: 13px;
   line-height: 100%;
   margin: 204px auto 16px;
   transition: all 0.5s ease;
}

.profile__button:hover {
    opacity: 0.6;
}

.profile__link {
    border: none;
    background-color: #FFF;
    color: #EE3465;
    font-family: "Inter";
    font-style: medium;
    font-size: 13px;
    line-height: 100%;
    margin: 0 auto 70px;
    transition: all 0.5s ease;
}

.profile__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 433px) { 
    .profile__wrapper {
    width: 260px;
    }
  } 