@import url(./vendor/normalize.css); 
@import url(./vendor/font/font-face.css); 

body {
  margin: 0;
  background-color: #E5E5E5;
  font-family: "Inter-Regular", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
